exp-grouping = preserve
module-item-spacing = preserve
type-decl = sparse
indicate-multiline-delimiters = closing-on-separate-line
parens-tuple = multi-line-only
break-infix = fit-or-vertical
if-then-else = k-r
wrap-fun-args = false
break-fun-decl = fit-or-vertical
cases-exp-indent = 2
space-around-lists = false